/* style.css */
.title {
    font-size: 36px;
    font-weight: bold;
    color: #1f77b4;
}

.description {
    font-size: 18px;
    color: #333;
}

.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.data-table {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
}


